body {
  overflow: scroll;
}

input {
  border: none;
  background-color: #f2f1f1;
  width: 100vw;
  margin-left: 5px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
input:focus::placeholder {
  color: transparent;
}

/* p {
  font-size: 10px;
} */
.sdf {
  background-color: white;
}
